outputs/
src/models/
data/
logs/
.idea/
dgx/scripts/
.ipynb_checkpoints/
src/*jpg
notebooks/.ipynb_checkpoints/*
exps/
text_logfiles
exterior_models
models
output
LPIPS
data_io/*.pyc
src/yaml_generator.py
*.tar.gz
*ipynb
*.zip
*.pkl
*.pyc
